.table-box{
    /* width: 800px;
    height: 600px; */
    border: 1px solid red;
}
.table-box .left,.table-box .right{
    height: 600px;
}
.table-box .left{
    width: 200px;
    background: yellowgreen;
}
.table-box .right{
    width: 600px;
    background: gold;
}