.container{
    width:200px;
    height: 200px;
    margin: 200px auto;
    /*background: yellow;*/
    vertical-align: middle;
}
.i{
    margin:0 auto;
    width: 80px;
    height: 80px;
    background: url(../images/background.png) no-repeat;
    background-size: 80px 160px;
    transition: background-position .4s;
}
.i:hover{
    background-position: 0px -80px;
}