html,
body{
	margin: 0;
	height: 100%;
}
.left,.right{
	height: 100%;
	position: absolute;
}
.left{
	top: 0px;
	left: 0px;
	width: 200px;
	background: yellow;
}
.right{
	top: 0px;
	right: 0px;
	width: 200px;
	background: blue;
}
.main{
	height: 100%;
	margin: 0 220px;
	background: gray;
}