html,
body{
	margin: 0;
	height: 100%;
}
.main{
	height: 100%;
	width: 100%;
}
.main-inner{
	margin: 0 220px;
	background: gray;
}

.left,.right{
	height: 100%;
}
.left{
	top: 0px;
	left: 0px;
	width: 200px;
	background: yellow;
	margin: -100%;
}
.right{
	top: 0px;
	right: 0px;
	width: 200px;
	background: blue;
	margin: -200px;
}
