.taps{
    width: 600px;
    height: 300px;
    border: 1px solid black;
    margin: 100px auto;
    font-size: 0px;
    position: relative;
}
.taps form input{
    display: none;
}
.taps form input:checked+label{
    border-bottom: none;
}
.taps form input:checked+label+p{
    display: block;
}
.taps form label{
    float: left;
    font-size: 20px;
    box-sizing: border-box;
    width: 200px;
    height: 50px;
    line-height: 50px;
    padding-left: 70px;
    border: 1px solid black;
    border-left: none;
    border-top: none;
    display: inline-block;
}
.taps form label:nth-of-type(3){
    border-right: none;
}
.taps form p{
    font-size: 20px;
    position: absolute;
    top:50px;
    padding-left: 20px;
    display: none;
}